.container {
  margin: 100px auto;
  margin-bottom: 0px;
  width: 700px;
}
.form {
  font-size: 20px;
}
.h1 {
  margin-bottom: 50px;
  margin-top: 30px;
}
.button > * {
  margin-right: 10px;
}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
    .container {
      width: 500px;
    }
    .h1 {
      margin-bottom: 40px;
    }
  }
}

/* ------------------------ */
@media only screen and (max-width: 768px) {

  .container {
    width: 400px;
  }
  .form, .form>*>* {
    font-size: 14px !important;
  }
  .h1 {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  .button>* {
    margin-top: 0px;
    font-size: 14px !important;
  }
}
/* ------------------------ */
@media only screen and (max-width: 425px) {
  .container {
    width: 300px;
  }
}
/* ------------------------ */
@media only screen and (max-width: 320px) {
  .container {
    width: 250px;
  }
}

