.login {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.signUp {
  color: rgb(0, 60, 255);
  width: max-content;
}
.signUp:hover {
  text-decoration: underline;
  cursor: pointer;
}
.errorMsg{
  color:red
}
.smallCard{
  display: none;
}


/* ------------------------ */
@media only screen and (max-width: 768px) {
   .bigCard{
    display: none;
  } 
  .smallCard{
    display: block;
  }
  .login {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .signUp {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .errorMsg{
    font-size: 13px;
  }
}