.login {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.signUp {
  color: rgb(0, 60, 255);
  width: max-content;
}
.signUp:hover {
  text-decoration: underline;
  cursor: pointer;
}
.errorMsg{
  color:red
}
.loginBtn{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 16px;
}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
    .login {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .signUp {
      color: rgb(0, 60, 255);
      font-size: 15px;
    }
  }
}

/* ------------------------ */
@media only screen and (max-width: 768px) {
 .card{
   width:288px !important;
}
  .login {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .signUp {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .errorMsg{
    font-size: 13px;
  }
  .loginBtn{
    font-size: 14px !important;
    padding: 6px !important;
    margin-top: 0px;

  }
}