.navbar {
  font-size: 20px;
}
.navbar > * {
  margin-top: 0px;
  margin-bottom: 3px;
}
a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: white;
  outline: none;
}
.campgroundsLogo {
  font-size: 30px;
  font-weight: 600;
}
.campgroundsLogo:hover {
  color: white;
}
.campgroundsLink {
  width: 200px;
  text-align: center;
  margin-left: 60px;
  font-weight: 500;
}
.loginLink {
  width: 100px;
  text-align: center;
  font-weight: 500;
  margin-left: 700px;
}
.loginLink:hover,
.campgroundsLink:hover,
.active {
  color: white;
  font-weight: 700;
}

/* ------------------------ */
@media only screen and (max-width: 1024px) {
  .loginLink {
    margin-left: 400px;
  }
}
/* ------------------------ */
@media only screen and (max-width: 768px) {
  .loginLink,
  .campgroundsLink {
    text-align: left;
    margin-left: 50px;
    font-size: 15px;
    margin-top: 5px;
  }
}
/* ------------------------ */
@media only screen and (max-width: 425px) {
  .campgroundsLogo {
    font-size: 20px;
    font-weight: 600;
  }
  .loginLink,
  .campgroundsLink {
    margin-left: 30px;
  }
}
