.container {
  display: flex;
  justify-content: center;
  margin: 80px 100px;
  flex-direction: column;
}
.h1 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.button {
  margin-bottom: 20px;
}



@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .button {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    display: flex;
    align-items: center;
    width: auto;
    margin: 95px 60px;
  }
  .titleContainer {
    width: 100%;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    margin: 95px 40px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    margin: 95px 10px;
  }
}
