.container {
  display: flex;
  justify-content: center;
  margin: 100px 100px;
  flex-direction: row;
}
.cardButtonsBig > *,
.cardButtonsSmall > * {
  margin-right: 10px;
}
.cardButtonsSmall {
  display: none;
}
.img {
  height: 300px;
  width: 350px;
}
.title {
  font-weight: 500;
  font-size: 25px;
}
.DescrAuthPrice {
  font-size: 20px;
}
.location {
  font-size: 20px;
  color: grey;
}
.reviewContainer {
  margin-left: 50px;
  width: 500px;
}
.titleReview {
  font-size: 40px;
  margin-bottom: 50px;
}
.textareaTitle {
  font-size: 20px;
  font-weight: 500;
}
.textarea {
  padding: 5px 10px;
  width: 600px;
  height: 150px;
}
.reviewCard {
  padding: 15px;
  font-size: 18px;
}
.warning {
  margin-top: 40px;
  text-transform: uppercase;
  color: red;
  font-size: 25px;
}
.cardMid {
  display: none;
}
.cardSmall {
  display: none;
}

/* ------------------------ */
@media only screen and (max-width: 1024px) {

  .warning {
    margin-top: 40px;
    font-size: 15px;
    width: 300px;
    font-style: italic;
  }
}
@media only screen and (max-width: 768px) {
  .cardButtonsSmall {
    display: block;
  }
  .cardButtonsBig {
    display: none;
  }
  .reviewContainer,
  .cardBig {
    display: none;
  }
  .cardSmall {
    display: none;
  }
  .container {
    margin: 100px 100px;
    margin-bottom: 0px;
  }
  .cardMid {
    display: block;
    margin-bottom: 10px;
  }
  .location,
  .DescrAuthPrice {
    font-size: 15px;
  }
}
/* ------------------------ */
@media only screen and (max-width: 425px) {
  .reviewContainer,
  .cardMid {
    display: none;
  }
  .cardButtonsSmall {
    display: block;
  }
  .cardSmall {
    display: block;
  }
  .location,
  .DescrAuthPrice {
    font-size: 15px;
  }
}
