.container {
  display: flex;
  justify-content: center;
  margin: 100px 100px;
  margin-bottom: 0px;
  flex-direction: row;
}
.cardButtonsBig > *,
.cardButtonsSmall > * {
  margin-right: 10px;
}
.cardButtonsSmall {
  display: none;
}
.img {
  height: 300px;
  width: 350px;
}
.title {
  font-weight: 500;
  font-size: 25px;
}
.DescrAuthPrice {
  font-size: 20px;
}
.location {
  font-size: 20px;
}
.reviewContainer {
  margin-left: 50px;
  width: 500px;
  position: relative;
}
.warning {
  margin-top: 40px;
  font-size: 25px;
  width: 100%;
  color: rgba(255, 0, 0, 0.795);
}
.titleReview {
  font-size: 40px;
  margin-bottom: 50px;
}
.textareaTitle {
  font-size: 20px;
  font-weight: 500;
}
.textarea {
  padding: 5px 10px;
  width: 600px;
  height: 150px;
}
.reviewCard {
  padding: 15px;
  font-size: 18px;
}
.cardMid {
  display: none;
}
.cardSmall {
  display: none;
}
.cardBig > * {
  width: 550px !important;
}
.commentMsg{
  color:green;
  margin-bottom: 30px
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .cardBig > * {
      width: 500px !important;
    }
    .warning {
      font-size: 20px;
    }
    .title {
      font-size: 20px !important;
    }
    .DescrAuthPrice,
    .location {
      font-size: 18px;
    }
    .reviewContainer {
      margin-left: 50px;
      position: relative;
    }
  }
}

/* ------------------------ */
@media only screen and (max-width: 1024px) {
  .reviewContainer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .cardButtonsSmall {
    display: block;
  }
  .cardButtonsBig {
    display: none;
  }
  .reviewContainer,
  .cardBig {
    display: none;
  }
  .cardSmall {
    display: none;
  }
  .container {
    margin: 100px 100px;
    margin-bottom: 0px;
  }
  .cardMid {
    display: block;
    margin-bottom: 10px;
  }
  .location,
  .DescrAuthPrice {
    font-size: 15px;
  }
}
/* ------------------------ */
@media only screen and (max-width: 425px) {
  .reviewContainer,
  .cardMid {
    display: none;
  }
  .cardButtonsSmall {
    display: block;
  }
  .cardSmall {
    display: block;
  }
  .location,
  .DescrAuthPrice {
    font-size: 15px;
  }
}
