.cardContainer {
    display: flex;
  }
  .card {
    margin: 100px auto;
    margin-bottom: 0px;
  }
  @media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: none) {
      .card {
        margin: 100px auto;
        margin-bottom: 0px;
      }
    }
  }

  /* ----------------------------- */
  @media only screen and (max-width: 768px) {
    .card {
      margin: 100px auto;
    }
  }