.containerBig {
  margin: 100px auto;
  margin-bottom: 0px;
  width: 700px;
}
.form {
  font-size: 20px;
}
.h1 {
  margin-bottom: 30px;
  margin-top: 100px;
}
.button {
  margin-top: 20px;
}
.containerSmall {
  display: none;
}
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance: none) {
    .containerBig {
      width: 500px;
    }
    .containerBig>*:not(:first-child) {
      font-size: 16px;
    }

    .h1 {
      margin-bottom: 20px;
    }
  }
}

/* ------------------------ */
@media only screen and (max-width: 768px) {
  .containerBig {
    display: none;
  }
  .containerSmall {
    display: block;
    margin: 20px auto;
    margin-bottom: 0px;
    width: 400px;
  }
  .form {
    font-size: 14px;
  }
  .h2 {
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .file {
    font-size: 14px !important;
  }
  .button {
    margin-top: 0px;
    font-size: 14px !important;
  }
}
/* ------------------------ */
@media only screen and (max-width: 425px) {
  .containerSmall {
    width: 300px;
  }
}
/* ------------------------ */
@media only screen and (max-width: 320px) {
  .containerSmall {
    width: 250px;
  }
}